/*
.header {
  
  height: 94px;
  max-width: 1366px;
  width: 100%;
  background-color: #fff;
  
  @include mq(md) {
    
  }
}
*/

.header__section {
  position: fixed;
  width: 100%;
  z-index: 12;
  background-color: none;

  margin-left: auto;
  margin-right: auto;
  /*box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);  影 
  max-width: 1280px;*/
}

.header__inner {
  /* position: fixed; */
  z-index: 10;
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  width: 100%;
  
  transition: all .3s;
  height: 80px;

  background-color: #fff;/* スクロールにて背景付与の場合はnone */
  
  padding-left: 20px;
  padding-right: 20px;

  @include mq(md) {
    /* max-width: 600px; */
    padding: 10px 0px;
    
  }
}

.header__logo {
  
  display: flex;
  align-items: center;
  color: #fff;
  

  @include mq(md) {
    margin-left: 10px;
  }
}

.header__logo {
  width: rem(136);
  height: rem(27);
  
}
/*
.header__logo h1 {
  margin-left: 20px;
  margin-right: rem(100);

  @include mq(md) {
    margin-right: 20px;
  }
}
*/
.header-nav__link {
  color: #1B224C;
}

.header-nav__link:hover {
  color: grey;
}

.header__info {
  margin-left: auto;
  margin-right: 0px;

  @include mq(lg) {
  
  }
  @include mq(md) {
    margin-right: 80px;
  }
  
}
.header__info__text {
  text-align: right;
  color: #1B224C;
}

.header__info__phone {
  display: flex;
  align-items: center;
  justify-content: flex-end;  
  color: #1B224C;
  text-align: right;

}

.header__info__phone img {
  width: 10px; /* サイズ指定 */
  height: auto;
  margin-right: 5px;
}

.header__request__btn {
  /*右端寄せして左marginをauto*/
  margin-left: 10px;
  margin-right: 10px;

  background-color: #ff3300;
  
  border-radius: 5px;
  border: none;
  
  @include mq(lg) {
    display: none;
  }

  @include mq(md) {
  }
}

.header__contact__btn {
  /*右端寄せして左marginをauto*/
  margin-left: 10px;
  margin-right: 10px;

  background-color: #0088cc;
  
  border-radius: 5px;
  border: none;
  
  @include mq(lg) {
    display: none;
  }

  @include mq(md) {
  }
}

  
.header__section.change-color {
  /*ヘッダースクロールで背景色変更*/
  background-color: #fff;
  z-index: 12;

  .header__logo h1 {
    color: #1B224C;
  }

  .header-nav__link {
    color: #1B224C;
  }
  /*
  .openbtn span {
    background-color: #0088cc;
  }
  */
}
