.plan-box {
  text-align: center;

  margin-right: 10px;/* rem禁止！remにしたら可変で右端margin復活した事例あり */
  width: calc(25% - 40px / 4);/* カラム4分割して10pxずつmargin */
}




.plan-box__inner {

}

.plan-box__head {
  max-width: 220px;
  height: 60px;
  background-color: #0088cc;
  
  line-height: 60px;
}

.plan-box__head-special {
  max-width: 220px;
  height: 100px;
  background-color: #ff3300;
  
  line-height: 32px;
  padding-top: 20px;
}

.plan-box__body {
  max-width: 220px;
  height: 400px;
  border-left: 1px solid #0088cc;
  border-right: 1px solid #0088cc;
  border-bottom: 1px solid #0088cc;
  
}

.plan-box__price {
  padding-top: 30px;
  margin-bottom: 6px;

}

.plan-box__price-special {
  padding-top: 30px;
  margin-bottom: 6px;

}

.plan-box__text {
  margin-bottom: 40px;
}

.plan-box__content{
  margin-bottom: 16px;
}